<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Training Types</h1>
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>Id</th>
							<th>Training Name</th>
							<th>Description</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
						</tr>
						</thead>
						<tbody>

						<tr th:each="trainingType : ${trainingTypes}">
							<td th:id="${trainingType.id}" th:inline="text"><a class="edit-training">[[${trainingType.id}]]</a></td>
							<td th:text="${trainingType.name}"></td>
							<td th:text="${trainingType.description}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')" th:id="${trainingType.id}"><a class="btn btn-danger delete-training">Delete</a></td>
						</tr>
						
						<tr sec:authorize="hasRole('ROLE_ADMIN')">
							<td></td>
							<td></td>
							<td></td>
							<td><a class="btn btn-primary new-training">New</a></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-6">
				<form id="form">
					<div class="form-group" style="display:none">
						<label for="trainingTypeId">Id:</label>
						<input type="text" class="form-control" id="id" name="id" th:value="${trainingType?.id}" />
					</div>
					<div class="form-group">
						<label for="trainingTypeName">Training Name:</label>
						<input type="text" class="form-control" id="name" name="name" th:value="${trainingType?.name}" />
					</div>
					<div class="form-group">
						<label for="description">Description:</label>
						<textarea class="form-control" id="description" name="description" th:text="${trainingType?.description}"></textarea>
					</div>
					<div class="form-group well" id="trainedMembersAdminForm" sec:authorize="hasRole('ROLE_ADMIN')">
						<b>Trained Members</b>
						<table id="memberTable" class="table table-striped table-hover">
						<thead>
							<tr>
								<th style="display:none">Member ID</th>
								<th>Name</th>
								<th>Date Added</th>
								<th>Added By</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody id="memberTableBody">
							<tr class='member-row'>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
						</table>
						<div>
							<div id='div_addMember'>
								<div th:replace="fragments/memberDropDown :: memberDropDown(false)"></div>
							</div>
						</div>
					</div>
 					<div class="form-group well" id="trainedMembersForm" sec:authorize="!hasRole('ROLE_ADMIN')">
						<b>Trained Members</b>
						<table id="memberNameTable" class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
							</tr>
						</thead>
						<tbody id="memberTableBody">
							<tr class='member-row'>
								<td>name</td>
							</tr>
						</tbody>
						</table>
					</div>
					<button type="submit" class="btn btn-primary" id="btn_submit" sec:authorize="hasRole('ROLE_ADMIN')">Add / Update Training</button>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</div>
<script th:src="@{~/script/trainingType.js}" type="application/javascript"></script>

</body>
</html>

